@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);

/* ========================= */

*{ margin: 0; padding: 0; border: none; vertical-align: top; }

body{
	font: normal 13px/20px 'Lato', Arial, sans-serif;
	background: #f3f3f3;
	color: #888;
	-webkit-font-smoothing: antialiased;
}

/* ========================= */

a{ color: #444; text-decoration: none; transition: all 0.7s ease-in-out; -webkit-transition: all 0.7s ease-in-out;}
a:hover{ text-decoration: underline; }

strong { font-weight: bold; }

h1{
	width: 70%;
	margin: 0px auto;
	font: 300 42px/1 'Oswald', Arial, sans-serif;
	color: #fff;
	font-weight: 400;
	letter-spacing: 4px;
	text-transform: uppercase;
	text-shadow: 2px 1px 0px black;
	}
div.instructions{
	margin-bottom: 3em;
}
span.note{text-transform: uppercase;float:right;}
.asterisk{color: orangered; padding: 0px 4px;}
ol, ul{
	padding-bottom: 14px;
}

ul{
	text-align: center;
}

ol li{
	margin-left: 20px;
	padding-left: 8px;
}

.contact-details tr td:first-child{
	vertical-align: middle;
}

.contact-details .email-user{
	width: 51.5%;
	display: inline-block;
	margin-right: 1%;
}

.contact-details .email-domain{
	font: normal 16px/16px 'Lato', Arial, sans-serif;
	display: inline-block;
	margin-top: 14px;
	vertical-align: middle;
}

form{
	width: 600px;
	margin: 26px auto;
	padding-bottom: 15px;
}

form label{
	font: bold 14px/14px 'Lato', Arial, sans-serif;
	color: #888;
}

form select{
	width: 100%;
	font: normal 16px/19px 'Lato', Arial, sans-serif;
	color: #aaa;
	background: #fff url('images/select-arrow.png') 97.5% center no-repeat;
	border: 1px solid #ccc;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	margin: 7px 0;
	padding: 6px 26px 5px 16px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

form select:focus{
	color: #444;
	border: 1px solid #999;
}

form input[type="text"]{
	width: 100%;
	font: normal 16px/1 'Lato', Arial, sans-serif;
	color: #aaa;
	background: #fff;
	border: 1px solid #ccc;
	margin: 7px 0;
	padding: 6px 14px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

form input[type="submit"]{
	font: 300 20px/1 'Lato', Arial, sans-serif;
	color: #fff;
	/*text-transform: uppercase;*/
	letter-spacing: -1px;
	-webkit-font-smoothing: antialiased;
	background: #444;
	padding: 12px 16px 14px;
	float: right;
	cursor: pointer;
	transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
}

form input[type="submit"]:hover,
form input[type="submit"]:focus{
	background: #0273b9;
}

form select,
form input[type="text"]{
	display: block;
	-webkit-appearance: none;
	   -moz-appearance: none;
			appearance: none;
}

form input[type="text"]:focus{
	color: #444;
	border: 1px solid #999;
}

.page-header{
	background: #0273b9;
	background-image:radial-gradient(circle at 94.07% 88.89%, #1f9eff, transparent 100%),radial-gradient(circle at 32.86% 36.33%, #0273b9, transparent 100%),radial-gradient(circle at 50% 50%, #ffffff, #ffffff 100%);
	border-bottom: 4px solid #0273b9;
	padding: 56px 0 30px;
}

.signature-preview{
	width: 530px;
	font-size: 12px;
	background: #fff;
	border: 1px solid #ccc;
	margin: 25px auto 15px;
	padding: 26px;
	overflow: hidden;
	background-color: #fff;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#efefef));
	background-image: -webkit-linear-gradient(top, #fff, #efefef);
	background-image:    -moz-linear-gradient(top, #fff, #efefef);
	background-image:     -ms-linear-gradient(top, #fff, #efefef);
	background-image:      -o-linear-gradient(top, #fff, #efefef);
}

.client-links li{
	width: 38%;
	text-align: center;
	display: inline-block;
	margin: 5px 0.85%;
}

.client-links li a{
	width: 100%;
	font: 300 20px/1 'Lato', Arial, sans-serif;
	color: #fff;
	/*text-transform: uppercase;*/
	letter-spacing: -1px;
	-webkit-font-smoothing: antialiased;
	background: #777;
	display: block;
	padding: 7px 0 9px;
	cursor: pointer;
}

.client-links li a:hover{
	text-decoration: none;
	background: #666;
}

:focus{ outline: 0; }